.RolesWindowLight::-webkit-scrollbar{
    width: 6px;
  }
  .RolesWindowLight::-webkit-scrollbar-thumb {
    background-color: #DAE3E9;
    border-radius: 10px;
  }
  .RolesWindowLight::-webkit-scrollbar-track {
    background-color: rgba(#EDF2F6, 0);
    width: 8px;
    padding: 0 5px;
  }

  .RolesWindowDark::-webkit-scrollbar{
    width: 6px;
  }
  .RolesWindowDark::-webkit-scrollbar-thumb {
    background-color: #21242C;
    border-radius: 10px;
  }
  .RolesWindowDark::-webkit-scrollbar-track {
    background-color: rgba(23, 24, 28, 0);
    width: 10px;
    padding: 0 5px;
  }