@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face { 
    font-family: "TTNormsMedium";
    src : url("../fonts/TTNormsMedium.woff") format("woff");
    src : url("../fonts/TTNormsMedium.eot");
    src : url("../fonts/TTNormsMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face { 
    font-family: "TTNormsRegular";
    src : url("../fonts/TTNormsRegular.woff") format("woff");
    src : url("../fonts/TTNormsRegular.eot");
    src : url("../fonts/TTNormsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face { 
    font-family: "NeueMachinaBold";
    src : url("../fonts/NeueMachinaBold.ttf") format("truetype");
    /* src : url("../fonts/NeueMachinaBold.woff") format("woff");
    src : url("../fonts/NeueMachinaBold.eot"); */
    font-style: bold;
    font-weight: 700;
  }
  @font-face { 
    font-family: "InterMedium";
    src : url("../fonts/Inter-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face { 
    font-family: "InterRegular";
    src : url("../fonts/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face { 
    font-family: "InterBold";
    src : url("../fonts/Inter-Bold.ttf") format("truetype");
    font-style: bold;
    font-weight: 800;
  }
}

#scrollContainer::-webkit-scrollbar{
  display: none;
}