@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face { 
    font-family: "TTNormsMedium";
    src : url("../fonts/TTNormsMedium.woff") format("woff");
    src : url("../fonts/TTNormsMedium.eot");
    src : url("../fonts/TTNormsMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face { 
    font-family: "TTNormsRegular";
    src : url("../fonts/TTNormsRegular.woff") format("woff");
    src : url("../fonts/TTNormsRegular.eot");
    src : url("../fonts/TTNormsRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face { 
    font-family: "NeueMachinaBold";
    src : url("../fonts/NeueMachinaBold.ttf") format("truetype");
    /* src : url("../fonts/NeueMachinaBold.woff") format("woff");
    src : url("../fonts/NeueMachinaBold.eot"); */
    font-style: bold;
    font-weight: 700;
  }
  @font-face { 
    font-family: "InterMedium";
    src : url("../fonts/Inter-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
  }
  @font-face { 
    font-family: "InterRegular";
    src : url("../fonts/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  @font-face { 
    font-family: "InterBold";
    src : url("../fonts/Inter-Bold.ttf") format("truetype");
    font-style: bold;
    font-weight: 800;
  }
}
/* скролл для ролей на главной странице */
#scrollContainer::-webkit-scrollbar{
  display: none;
}
/* скролл для ролей на главной странице */

/* скрол для окна чата */
#chatWindowLight::-webkit-scrollbar{
  width: 6px;
}
#chatWindowLight::-webkit-scrollbar-thumb {
  background-color: #EDF2F6;
  border-radius: 10px;
}
#chatWindowLight::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
  width: 10px;
  padding: 0 5px;
}

#chatWindowDark::-webkit-scrollbar{
  width: 6px;
}
#chatWindowDark::-webkit-scrollbar-thumb {
  background-color: #17181C;
  border-radius: 10px;
}
#chatWindowDark::-webkit-scrollbar-track {
  background-color: rgba(23, 24, 28, 0);
  width: 10px;
  padding: 0 5px;
}
/* скрол для окна чата */

/* скрол для окна историй чата */
#historyWindowLight::-webkit-scrollbar{
  width: 6px;
}
#historyWindowLight::-webkit-scrollbar-thumb {
  background-color: #DAE3E9;
  border-radius: 10px;
}
#historyWindowLight::-webkit-scrollbar-track {
  background-color: rgba(#EDF2F6, 0);
  width: 8px;
  padding-left: 5px;
}

#historyWindowDark::-webkit-scrollbar{
  width: 6px;
}
#historyWindowDark::-webkit-scrollbar-thumb {
  background-color: #21242C;
  border-radius: 10px;
}
#historyWindowDark::-webkit-scrollbar-track {
  background-color: rgba(23, 24, 28, 0);
  width: 10px;
  padding-left: 5px;
}
/* скрол для окна историй чата */




#historyBtn::before {
    content: url('../../public/settingsMessage.svg'); 
    position: absolute;
    top: 53%;
    right: 13px;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
  }

  #historyBtn:hover::before {
    opacity: 1;
  }
  /* #historyBtn:hover{
    background-color: aqua;
  } */